@model IEnumerable<MyMVCapp.Models.Spectacle>

<h1>Админ-панель для учёта спектаклей в системе</h1>

<p>
    <a asp-action="Create">Создать спектакль</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Director)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Genre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StartDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EndDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Image)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Duration)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Director)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Genre)
            </td>
            <td>
                @{
                        string description = item.Description;
                        if (description.Length > 50)
                        {
                            description = description.Substring(0, 50) + "...";
                        }
                }
                @Html.DisplayFor(modelItem => description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StartDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EndDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @{
                        string src = item.Image;
                        if (src.Length > 10 )
                        {
                            src = src.Substring(0, 10   ) + "...";
                        }
                }
                @Html.DisplayFor(modelItem => src)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Duration)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.SpectacleID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.SpectacleID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.SpectacleID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
